/*SITE SETUP*/
html{
    scroll-behavior: smooth;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

img {
    width: 100%;
}

:root{
--color-dark-blue:#152040; /* darkblue */
--color-blue:#0588A6; /* blue */
--color-beige-white:#FFF9ED;/* white */
--color-light-blue:#07C4D9; /* aqua */
--color-yellow:#fddd2b; /* yellow */
--color-light-yellow:#FFE69B; /* light yellow */
--color-red-1:#D14242; /* red */
}


/* FONTS */

@font-face {
    font-family: Arnel;
    src: url(fonts/Arnel-Regular.otf)
}   

@font-face {
    font-family: Komika-Display;
    src: url(fonts/KMKDSPT_.ttf)
}   

@font-face{
    font-family: Helvetica;
    src: url(fonts/helveticanowtext-bold-demo.ttf)
}
/* GAME BOARD ELEMENTS */
.game-board{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 520px;
    width: 100%;
    margin: 30px 0px 100px 0px;
}

html, body {
  max-width: 100%;
  overflow-x: hidden; /* prevents horizontal scrollbars */
    box-sizing:border-box; /* keeps padding/border inside width /
    word-wrap: break-word;  / makes text wrap if it's too long */
    overflow-wrap:break-word;
}
.instructions{
    color:  #fddd2b;
    text-align: center;
    font-family: Komika-Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 24px 0px 0px 0px;
     text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.submit-btn{
    display: inline;
    background: none;
    border: none;
    margin: 25px 0px 0px 0px;
}

.submit-btn:hover{
    transition-duration: 150ms;
    transform: translateY(-1.00em);
}

.submit-btn:active{
    transition-duration: 150ms;
    transform: translateY(-0.50em);
}

.prompt-text{
    color: #fe3393;
    text-align: center;
    font-family: Arnel;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 10.8px;
    text-transform: uppercase;
    margin: -10px 0px 0px 0px;
  
}

.prompt-container{
    width: 674px;
    height: 149px;
    margin: 45px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.prompt-question{
    color: #000000;
    text-align: center;
    font-family: Komika-Display;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 620px;
    margin: 20px 0px 0px 0px;
    
}

.prompt-box{
    height: 944px;
    width: 740px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    background-image: url(assets/desktop.png);
    background-size: 740px auto;
    background-repeat: no-repeat;
}

.input-box{
    width: 420px;
    border: solid 8px #006ecf;
    border-radius: 5px;
    background-color: #0b348d;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 60px;
    color: #FFF;
    text-align: center;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

::placeholder{
    color: #FFF;
    text-align: center;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 700;
}

/* TABLET MEDIA QUERIES */
@media only screen and (max-width: 740px){
    .game-board{
        max-width: 450px;
    }
    
    .instructions{
        font-size: 14px;
        width: 450px;
        margin: 21px 0px 0px 0px;
    }

    .submit-btn{
        height: 50px;
        margin: 21px 0px 0px 0px;
    }

    .submit-btn-img{
        height: 50px;
    }

    .prompt-container{
        height: 250px;
        width: 400px;
        margin: 5px 0px 0px 0px;
    }

    .prompt-box{
        height: 250px;
        width: 400px ;
        background-size: 400px 250px;
        background-image: url(assets/desktop.png);
    }

    .prompt-text{
        font-size: 70px;
        margin: 30px 0px 0px 0px;
        width: 320px;
    }

    .prompt-question{
        font-size: 20px;
        margin: 10px 0px 80px 0px;
        width: 320px;
    }
}

@media only screen and (max-width: 428px){
    .game-board{
        max-width: 330px;
    }
    
    .instructions{
        font-size: 12px;
        width: 330px;
        margin: 21px 0px 0px 0px;
    }

    .submit-btn{
        height: 35px;
        margin: 50px 0px 0px 0px;
    }

    .submit-btn-img{
        height: 35px;
    }

    .submit-btn:hover{
        transition-duration: 150ms;
        transform: translateY(-0.50em);
    }
    
    .submit-btn:active{
        transition-duration: 150ms;
        transform: translateY(-0.25em);
    }

    .input-box{
        width: 330px;
        border: solid 6px #07C4D9;
        border-radius: 8px;
        padding: 5px;
        margin-top: 80px;
        font-size: 14px;
    }

    ::placeholder{
        font-size: 14px;
    }

    .prompt-container{
        width: 330px;
        height: 190px;
        margin: 5px 0px 0px 0px;
    }

    .prompt-box{
        width: 330px ;
        height: 220px;
        background-size: 530px;
        background-image: url(assets/desktop.png);
    }

    .prompt-text{
        font-size: 24px;
        margin: -5px 0px 0px 0px;
        width: 280px;
        
    }

    .prompt-question{
        font-size: 12px;
        margin: 5px 0px 0px 0px;
        width: 280px;
        
    }
}